@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body {
    vertical-align: baseline;    
    font-size:16px;
}

html{
	height:100%;
}

body{
	position: relative;
	margin: 0;
	min-height:100%;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}



/*----------------------nav-section styling----------------------*/

.nav-section{
	width: 250px;
	position: fixed;
	top: 80px;
	left: 0;
	padding: 15px;
}

.nav-section a{
	display:block;
	line-height: 3em;
	padding-left: 25px;
	font-size: 1em;
	color: #bdbec0;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
}

.nav-section a:hover{
	color: #9d3625;
}

h1.style-guide-title{
	font-family: "Montserrat", sans-serif; 
  	text-transform: uppercase;
  	color:#c9b9aa;
  	font-size: 30px;
}


/*--------------------content-section styling--------------------*/

.content-section{
	width: calc(100% - 350px);
	position: absolute;
	right: 0;
	padding: 40px;
	box-shadow: 1px 0 10px #cccccc;
}

.component{
	padding-top: 55px;
	margin-bottom: 3.5em;
}

.example{
	margin-bottom: 1.2em;
}

h2.heading {
	font-family: "Raleway", sans-serif; 
	font-size: 24px;
	font-weight:400;
	text-transform: uppercase;
	text-align: left;
	color: #9d3625;
	border-bottom: 1px solid #666666;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.sub-component h3{
	font-family: "Raleway", sans-serif; 
	font-weight: 700;
	font-size: 1em;
	text-transform: none;
	margin-top: 2em;
}

.sub-component h4{
	font-family: "Raleway", sans-serif; 
	font-weight: 600;
	font-size: 0.8em;
	text-transform: none;
	margin-bottom: 0.5em;
	color:#c9b9aa;
}

.sub-component p{
	font-family: "Raleway", sans-serif; 
	font-weight:600;
	margin-top:0;
	margin-bottom: 1.2em;
	font-size:0.8em;
}


.sample-code{
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #333333;
	background: #f8f8f8;
	-webkit-text-size-adjust: none;
}

.html-code{
	font-size: 0.9em;
}

pre{
	padding:0;
	margin:0;
}

.in-line{
	display: inline-block;
}

/*------------------------sample styling------------------------*/

/*in-text link */
a.in-text{
	color: #735751;
}

a.in-text:hover {
	color:#a78a7f;
}

/*nav*/
#main {
	list-style: none;
	font-weight: 400;
	display: inline-block;
	padding: 0;
	margin:0;
}

#main li {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	z-index: 5;
	min-width: 120px;
	
	}

#main li a{
	text-decoration: none;
	font-size: 0.875rem;
	color:#333;
	font-family:"Roboto-Regular", sans-serif;
}

#main .drop li {
	background: white;
}

#main .drop li a {
	font-size: 0.6rem;
}


.drop {
	overflow: hidden;
	list-style: none;
	position: absolute;
	padding: 0;
	width: 100%;
	left: 0;
	top: 46px;
}

.drop div {
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-transition: all 0.9s 0.1s;
	-moz-transition: all 0.9s 0.1s;
	-ms-transition: all 0.9s 0.1s;
	transition: all 0.9s 0.1s;
	position: relative;
}

.drop li {
	display: block;
	padding: 0;
	width: 100%;
}

#marker {
	height: 2px;
	background: #973241;
	position: absolute;
	width: 120px;
	z-index: 5;
	-webkit-transition: all 0.45s;
	-moz-transition: all 0.45s;
	-ms-transition: all 0.45s;
	transition: all 0.45s;
	visibility: hidden;
}

#main .parent a:hover, #main .child a:hover{
	font-family:"Roboto-Medium", sans-serif;
}

#main li:nth-child(1):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(1):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(0px, 0);
	-moz-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(2):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(120px, 0);
	-moz-transform: translate(120px, 0);
	-ms-transform: translate(120px, 0);
	transform: translate(120px, 0);
}

#main li:nth-child(3):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(3):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(250px, 0);
	-moz-transform: translate(250px, 0);
	-ms-transform: translate(250px, 0);
	transform: translate(250px, 0);
}

#main li:nth-child(4):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(4):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(375px, 0);
	-moz-transform: translate(375px, 0);
	-ms-transform: translate(375px, 0);
	transform: translate(375px, 0);
}


/*nav button*/
.nav-button #main .parent:hover{
	font-family:"Roboto-Medium", sans-serif;
	border-bottom: 2px solid #973241;
}


/*submit & reset button*/
.button {
    border: 2px solid #973241;
    position:relative;
    font-family:"PT_Sans-Web-Regular",sans-serif;
    width:150px;
    height:40px;
    margin:0;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button a {
    position:relative;
    padding:0px;
    text-align:center;
    text-transform:uppercase;
    text-decoration: none;
    color:#333333;
    font-size:0.8rem;
    font-weight:600;
    line-height:40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:hover a {

    color:#ffffff;
    z-index: 1000;
}

.easing-up {
    position: absolute;
    width:100%;
    top:0; 
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:#973241;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.easing-down {
    position: absolute;
    width:100%;
    bottom:0; 
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:#973241;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.button:hover {
	color:#ffffff;
}

.button:hover .easing-up, .button:hover .easing-down  {
    height:38px;
}

/*Text Input*/
.text-input {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-input select {
  width: 100%;
  font-size: 18px;
  height: 29px;
  padding: 2px 2px 1px;
  font-size: 18px;
  background: none;
  border: none;
  line-height: 29px;
}

.text-input select ~ .bar {
  border-bottom: 1px solid white;
}
.text-input select ~ .bar:after, .text-input select ~ .bar:before {
  bottom: -1px;
}
.text-input select ~ label {
  font-size: 14px;
  color: #a78a7f;
  top: -20px;
}
.text-input select:focus {
  outline: none;
}
.text-input select:focus ~ .bar:before, .text-input select:focus ~ .bar:after {
  width: 50%;
}
.text-input label {
  position: relative;
  top: 0;
  pointer-events: none;
  padding-left: 2px;
  z-index: 1;
  color: #b3b3b3;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  transition: all 0.2s ease;
}
.text-input .bar {
  position: relative;
  display: block;
  margin-right: -4px;
}
.text-input .bar:before, .text-input .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #a78a7f;
  transition: all 0.2s ease;
  z-index: 2;
}
.text-input .bar:before {
  left: 50%;
}
.text-input .bar:after {
  right: 50%;
}
.text-input input,
.text-input textarea {
  display: block;
  background: none;
  padding: 2px 2px 1px;
  font-size: 18px;
  border-width: 0 0 1px;
  line-height: 29px;
  border-color: white;
  width: 100%;
}
.text-input input:focus,
.text-input textarea:focus {
  outline: none;
}
.text-input input:focus ~ label, .text-input input:valid ~ label, .text-input input.hasValue ~ label,
.text-input textarea:focus ~ label,
.text-input textarea:valid ~ label,
.text-input textarea.hasValue ~ label {
  font-size: 14px;
  color: gray;
  top: -20px;
}
.text-input input:focus ~ label,
.text-input textarea:focus ~ label {
  color: #a78a7f;
}
.text-input input:focus ~ .bar:before, .text-input input:focus ~ .bar:after,
.text-input textarea:focus ~ .bar:before,
.text-input textarea:focus ~ .bar:after {
  width: 50%;
}



.checkbox{
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkbox label{
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  font-size:0.8rem;
}
.checkbox .check-sign{
  display: block;
  position: absolute;
  z-index: 1;
  height: 18px;
  width: 18px;
  border: 1px solid white;
  top: 2px;
  left: 0;
  transition: all 0.2s ease;
  transform: translate(0,-2px);
  color: #a9a9a9;
  font-family: "PT_Sans-Web-Regular",sans-serif;
}
.checkbox .check-sign:before{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  background: transparent;
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.checkbox input{
  opacity: 0;
  position: absolute;
}
.checkbox input:checked ~ .check-sign, .checkbox input.checked ~ .check-sign{
  border-color: gray;
}
.checkbox input:checked ~ .check-sign:before, .checkbox input.checked ~ .check-sign:before{
  background: #a78a7f;
}

.radio .check-sign{
  border-radius: 16px;
}

.checkbox + .checkbox {
  margin-top: -10px;
}


/*headings*/
h1{
	font-family: "Lora-Regular", sans-serif;
	font-size:3rem;
	color:#666;
	margin:2px 0 1px;
}

h2{
	font-family: "Roboto-Medium", sans-serif;
	font-size:2rem;
	font-weight:400;
	color:#735751;
	margin:1px 0;
}

h3{
	font-family: "Roboto-Regular", sans-serif;
	font-size:1.75rem;
	font-weight:800;
	color:#333;
	margin:1px 0;
}

h4{
	font-family: "Roboto-Light", sans-serif;
	font-size:1.25rem;
	font-weight:400;
	color:#333;
	margin:1px 0;
	text-transform: uppercase;

}

/*paragraph*/
p{
	font-family: "Roboto-Light", sans-serif;
	font-size:1rem;
	font-weight:400;
	color:#333;
}

/*bulleted list*/
ul li{
	color:#c9b9aa;
}

ul li span{
	font-family: "Roboto-Light", sans-serif;
	font-size:18px;
	color:#666;
}

/*numbered list*/
ol li{
	color: #a78a7f;
}

ol li span{
	font-family: "Roboto-Light", sans-serif;
	font-size:18px;
	color:#333;
}

/*product list*/
.flexbox { 
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-item {
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #F1F2F2;
	border-bottom: 2px solid #F1F2F2;
	background: white;
	transition: .4s;
}

.product-item:hover {
	border-bottom: 2px solid #973241;
}

.product-item img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}

.product-list {
	padding: 15px 0;
}

.product-list h3 {
	font-family: "Roboto-regular", sans-serif;
	font-size:1.2rem;
	font-weight:800;
	color:#333;
	margin: 0 0 10px 0;
}

h4.price {
	font-family: "PT_Sans-Web-Regular", sans-serif;
	font-size:1rem;
	font-weight:400;
	color:#333;
	margin:1px 0;
	display: block;
	 margin-bottom: 12px;
}

/*grid structure*/
/*see grids.css*/


/*citation*/
.citation-style{
	margin-left: 30px;
	margin-right: 30px;
}

/*site map*/
.sitemap{
	width:100%;
	height:auto;
}

.sitemap-page{
	width:auto;
	height:auto;
}


/*----------------------website styling----------------------*/

/*helper classes*/
.content-wrapper{
	margin:100px 15% 0 15%;
	height:auto;
}

.line-separator{
	height: 1px; 
    background: #717171;
    border-bottom: 1px solid gainsboro;
    transform:translate(0,1.5rem);
}

.hcenter{
	margin-left: auto;
    margin-right: auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

.push{
	height:30rem;
}
/*end of helper classes*/


/*nav bar styling*/
.nav-bar{
    top: 0;
	position: fixed;
	z-index: 5;
	height:3.5rem;
	width:100vw;
	padding:0 15%;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
	box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
	background-color: white;
}

.brand{
	float:left;
	width:auto;
	padding-top:15px;
	padding-right: 4.5rem;
	display:inline-block;
	font-family: "Lora-Regular", sans-serif;
	font-size:1.1rem;
	font-weight: 700;
	text-decoration: none;
	color:black;
}

nav{
	float:left;
}

.login-and-bag{
	list-style: none;
	display: inline-block;
	float:right;
	padding-top:15px;
}

.login-and-bag li{
	box-sizing: border-box;
	display:inline-block;
}

.login-and-bag li a{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-size: 0.875rem;
	padding-left: 0.5rem;
	text-decoration: none;
	color:#666;
}

.login-and-bag li a:hover{
	font-weight:700;
}
/*end of nav bar styling*/

/*footer styling*/
footer{
    background: rgb(200,200,200);
	display:inline-block;
	height:auto;
	position:absolute;
	right:0;
	left:0;
	bottom:0;
}

.footer-div{
	padding:1% 15%;
}

.footer-div .footer-component ul{
	list-style:none;
	padding-bottom: 1.5rem;
}

.footer-div .footer-component ul a{
	text-decoration: none;
	color:#333;
}

.footer-div .footer-component ul a:hover{
	color:#a78a7f;
}

.footer-div .footer-component .footer-title{
	font-family: "Roboto-Medium",sans-serif;
	padding-bottom: 0.8rem;
	text-transform: uppercase;
}

.footer-div .footer-component ul li{
	font-family: "Roboto-Light",sans-serif;
	padding-bottom: 0.4rem;
}


footer form {
	min-width: 300px;
	width:auto;
	margin:0 auto;
}

.email-bar { 
	padding:6px 15px 6px 15px;
	background-color: white; 
}

input.email-bar[type=text]{
	color:#333;
	border:1px solid #666;
}

input.email-bar[type=text]:focus{
	border:1px solid #973241;
}

input.email-submit[type=button], input.email-submit[type=button]:hover {
	position:relative; 
	padding:6px 0;
	left:-3px;
	top:-1.5px;
	border:4px solid #973241;
	background: #973241; /* Old browsers */
	color:white;
	cursor: pointer;
	font-size: 0.8rem;
	font-family: "PT_Sans-Web-Regular",sans-serif;
}

 footer .social-icon {
      font-size: 1rem;
      text-align: left;
    }

    footer .social-icon a {
      color: #333;
      padding: 0 10px 0 10px;
    }

    footer .social-icon a:hover {
      color: #a78a7f;
      transition: 0.5s;
    }

    footer .button{
    	border-width: 1px;
    	width:60px;
    	height:38px;
    }

/*.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-list-top {
  width: 25%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}

.flex-rw ul{
	list-style: none;
}

.flex-rw a{
	text-decoration: none;
	color: #333;
	font-family: "Roboto-Light",sans-serif;
	font-size: 1rem;
}

.flex-rw a:hover{
	text-decoration: none;
	color: white;

}

.footer-list-header{
	padding:30px 0 10px 0;
}*/
/*end of footer syling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*bag-overview.html styling*/
.bag-title{
	font-family:"Roboto-light",sans-serif;
	font-size: 1.2rem;
	text-align: center;
	width:100%;
	border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

h1 span{
	background:#fff; 
    padding:0 20px; 
}

.step-section{
	text-align:center;
	display:inline-block;
	width:100%;
	margin-top: 2rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px solid #000; 
}

.step-section .step-1 a, .step-section .step-2 a, .step-section .step-3 a, .step-section .step-4 a{
	text-decoration: none;
	font-family:"Roboto-light",sans-serif;
	color:#666;
	font-size: 0.8rem;
}

.step-section .step-1 a{
	font-family:"Roboto-Medium",sans-serif;
}

.description-section{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	text-align:left;
	display:inline-block;
	width:100%;
	margin-top: 0.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 0;
	border-bottom: 1px solid #000; 
	font-weight: 700;
}

.description-section .description-title{
	padding-bottom:1rem;
}

.overview-pg-img{
	width:100%;
	padding-right:2rem;
}

.fa-trash-o{
	float:right;
}


a.fa-trash-o:hover{
	color: #973241;
}

.description-section .description-component ul{
	list-style: none;
	padding:0;
}

.description-section .description-component ul .overview-pg-product{
	font-family:"Lora-Regular",serif;
	font-size: 1.2rem;
	color:#333;
}

.description-section .description-component ul .overview-pg-color{
	font-family:"Roboto-regular",sans-serif;
	font-size: 0.9rem;
	color:#666;
	padding-top: 0.5rem;
}

.description-section .description-component ul .overview-pg-description{
	font-family:"Roboto-light",sans-serif;
	font-size: 0.6rem;
	color:#666;
	padding-top: 1rem;
	padding-right: 1rem;
}

.quantity-selector{
	border:solid #666 0.5px;
	width:100%;
	font-size: 1rem;
	font-family:"Roboto-light",sans-serif;
	padding:0.2rem 0 0.2rem 0.2rem;
}

.quantity{
	padding-right: 2rem;
}

p.overview-pg-price{
	font-size: 1rem;
	font-family:"Roboto-Regular",sans-serif;
	color:#333;
}

.summary-section{
	display:inline-block;
	background-color: rgba(167,138,127,0.1);
	height:100px;
	width:100%;
	margin-top: 0;
	margin-bottom: 20px;
	-ms-transform: translate(0,-8px); 
    -webkit-transform: translate(0,-8px); 
	transform:translate(0,-5px);
	padding:1rem 1rem ;
}

.summary-section ul{
	list-style: none;
}

.summary-section ul li{
	display:inline-block;
	padding-left:2rem;
	font-family:"Roboto-Medium",sans-serif;
	font-size: 1.1rem;
	color:#333;
}

.expand {
  color: black;
  display: block;
  text-decoration: none;
}

section.promotion-section {
  padding-top: 15px;
  p {
    color: lighten(black, 20%);
    margin: 5px 0 15px;
  } 
}

.promotion-code{
	max-width: 350px;
}

a.expand{
	font-family:"PT_Sans-Web-Reglar",sans-serif;
	color:#666;
}

a.expand:hover{
	color:#a78a7f;
}

.promotion-section form {
	width:500px;
	margin:0 auto;
}

.promotion-bar { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background-color: white; 
}

input.promotion-bar[type=text]{
	color:#333;
	border:1px solid #666;
}

input.promotion-bar[type=text]:focus{
	border:1px solid #973241;
}

input.promotion-submit[type=button], input.promotion-submit[type=button]:hover {
	position:relative; 
	padding:6px 0;
	left:-3px;
	border:2px solid #973241;
	background: #973241; /* Old browsers */
	color:white;
	cursor: pointer;
	font-size: 0.8rem;
	font-family: "PT_Sans-Web-Regular",sans-serif;
}
/*end of bag-overview.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*bag-login.html styling*/
.bag-login .step-section .step-2 a{
	font-family:"Roboto-Medium",sans-serif;
}

.login-section{
	margin-top: 2rem;
}

.returning-customer, .new-customer{
	height:20rem;
	text-align: center;
	padding-top: 1.5rem;
}

.returning-customer{
	border:solid 1px #f0f0f0;
	height:20rem;
	text-align: center;
	padding-top: 1.5rem;
}

.new-customer{
	background-color: #f0f0f0;
	height:20rem;
	text-align: center;
	padding-top: 1.5rem;
}

.new-customer p{
	width: auto;
	margin-left:10%;
	margin-right:10%;
	margin-top: 2rem;
}

.login-title{
	font-family: "Roboto-regular",sans-serif;
	color:#333;
	font-size: 1.4rem;
}

.login-form{
	margin-top: 2rem;
		  margin-left:10%;
  margin-right:10%;
  width:auto;
}

.login-form input
{
	width:100%;
  border: solid thin #f0f0f0;
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-family: "PT_Sans-Web-Regular",sans-serif;
}

.login-form input:hover
{
  outline: none;
  border-color: #a78a7f;
}

.login-form input:focus
{
  outline: none;
  border-color: #a78a7f;
}

.login-form .button{
	margin-top: 1.5rem;
  	width:auto;
}

.new-customer .login-form .button{
	margin-top: 1rem;
  	width:auto;
}

.login-support{
	margin-top: 6rem;
	text-align: center;
}

.login-support p{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	color:#666;
	margin-top: 5rem;
	text-align: center;
}

/*end of bag-login.html stling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*bag-checkout.html styling*/

.bag-checkout .step-section .step-2 a,
.bag-checkout .step-section .step-3 a{
	font-family:"Roboto-Medium",sans-serif;
}

.bag-checkout input,
.bag-checkout select,
.bag-checkout textarea,
.bag-checkout .text-input
{
	box-sizing: border-box;
}

.checkout-section{
	margin-top: 2rem;
	height:auto;
}

.checkout-component{
	height:auto;
	text-align: left;
	padding-top: 1.5rem;
	background-color: #f0f0f0;
}

.checkout-component h2{
	font-family: "Roboto-regular",sans-serif;
	color:#333;
	font-weight: 700;
	font-size:1rem;
	padding-left:5%;
}

form.checkout-form{
	padding-left:5%;
	padding-right:5%;
	width:auto;
}

.bag-checkout .checkout-summary{
	padding-left:5%;
	padding-right:5%;
	width:auto;
	padding-top:1.5rem;
}

.checkout-pg-img{
	width:100%;
	padding-right:0.3rem;
}

.bag-checkout .checkout-summary ul{
	list-style: none;
}

.bag-checkout .checkout-summary ul li{
	color:#333;
}

.checkout-summary-product{
	font-family: "Lora-Regular",serif;
}

.checkout-summary-color{
	font-family: "Roboto-light",sans-serif;
	font-size:0.8rem;
	padding-bottom: 0.5rem;
}

.checkout-summary-price{
	font-family: "Roboto-regular",sans-serif;
	font-size:0.8rem;
}

.checkout-summary .row{
	padding-bottom: 1.5rem;
}

.checkout-summary p{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-weight:700;
}

.checkout-summary .checkbox{
	padding-top: 0.8rem;
	width:auto;
}

.checkout-summary .button{
	width:auto;
	margin-bottom: 1rem;
}
/*end of bag-checkout.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*bag-confirmation.html styling*/

.bag-confirmation .step-section .step-2 a,
.bag-confirmation .step-section .step-3 a,
.bag-confirmation .step-section .step-4 a{
	font-family:"Roboto-Medium",sans-serif;
}

.info-review-section{
	padding-left: 5%;
	padding-right: 5%;
	width:auto;
	margin-top: 1rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #ddd; 
}


.info-review-component ul{
	list-style: none;
}

.info-review-component-title{
	font-size:1rem;
	color:#333;
	font-family: "Roboto-regular",sans-serif;
	font-weight: 700;
	padding-bottom: 1rem;
}

.info-review-component-list{
	color:#333;
	font-size:1rem;
	font-family: "Roboto-regular",sans-serif;
	padding-bottom: 0.2rem;
}

.confirmation-qty{
	font-family: "Roboto-regular",sans-serif;
	font-size:1rem;
	color:#333;
}


ul.confirmation-total{
	padding-top: 1.2rem;
	list-style: none;
}

ul.confirmation-total li{
	display:inline-block;
	padding-left:2rem;
	font-family:"Roboto-Medium",sans-serif;
	font-size: 1.1rem;
	color:#333;
}

.order-confirm-button{
	margin-top: 4rem;
}

/*end of bag-confirmation.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*homepage.html styling*/
.event-notice{
	box-sizing:border-box;
	background-color: #999;
	margin-left: auto;
	margin-right: auto;
	height:40px;
	text-align: center;
	padding-top: 10px;
	margin-top: -20px;

}

.event-notice a{
	text-decoration: none;
	color: #333;
	font-family: "Roboto-regular", sans-serif;
	font-size: 1rem;
	
}

 #title-picture, #event-picture{	
	background-color: #999;
	margin-top: 20px;
	margin-left: 0px;
	box-sizing:border-box;
	padding:1em;
	height:30em;
	
}

#title-picture{
	
	margin-right: 0;	
	
}

#event-picture{
	
	float:left;
	margin-left: 1em;
}

.display-picture{
	display: flex;
}

.homepage-product-list{
	margin-top: 1em;
}

.popular-item-separator{
	height:3px;
	margin-top:2em;
	margin-bottom: 2em;
	text-align: center;
}

.popular-item-content{
	font-size: 1.75rem;
	font-family: "Roboto-regular", sans-serif;
	color: #333;
	background-color: white;
	text-align: center;
	width: 30%;
	margin-left: 300px;
	margin-top: 50px;
}

.bag-title span{
	 background: #fff;
    padding: 0 20px;
}
/*end of homepage.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*about.html styling*/
.page-title{
	text-align: center;
	padding-top: 20px;
}

.about-intro p{
	margin-top: 30px;
}

.story, .contact-fill-blank{
	display: flex;
	margin-top: 50px;
}

.story h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

.pic{
	height: 500px;
	width:auto;
	background-color: rgb(200,200,200);
}

.column-left{
	width: 100%;
	margin-right: 10%;
}

.column-right{
	width: 100%;
	padding-left: 30px;
	
}

/*end of about.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*contactus.html styling*/

.column-right p{
	margin-top: 20px;
	font-family: "Roboto-Light",sans-serif;
	font-size: 1rem;	
}

.form{
	margin-left: 20px;
}
.contacts-other-info{
	margin-top: 80px;
}

.contacts-other-info h3{
	margin-bottom: 10px;
}

.info-detail{
	width:100%;
	background-color: rgb(240,240,240);
	
}

.contacts-other-info img{
	margin-left: 30px;
}

.icon{
	padding-top: 40px;
	padding-left: 30px;
	padding-bottom: 60px;

}

.icon p{
	font-size: 0.8em;
	padding-bottom: 10px;
	color: #333;
}

#email-icon img{
	opacity:0.5;
}

#email-icon p{
	padding-left: 10px;
}

#phone-icon img{
	margin-top: 10px;
}

#phone-icon p{
	padding-top: 2px;
	padding-left: 15px;
}

#chat-icon img{
	opacity: 0.4;
	margin-top: 10px;
}

#chat-icon p{
	padding-top: 10px;
	padding-left: 20px;
}

#location-icon img{
	opacity:0.5;
	margin-top: 10px;
}

#location-icon p{
	padding-top: 7px;
	padding-left: 15px;
}

.icon-title-info{
	margin-top: 10px;
	margin-left: 0px;
}

.jobs h3{
	margin-top: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}

.jobs>p{
	margin-left: 10px;
}

/*end of contact-us.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*productlist.html styling*/
.product-list-page {
	margin-top: 70px;
}

.product-list-page section{
	margin-bottom: 40px;
}

.product-list-page a{
	text-decoration: none;
	color:#333;
}

.display-image{
	background-color: rgb(200,200,200);
	box-sizing:border-box;
	height:200px;
	margin-bottom: 30px;
}
.left-nav h4{
	font-family: "Roboto-Regular",sans-serif;
	color:#c9b9aa;
	font-size: 1.25em;
	margin-bottom: 10px;
}

.left-nav p{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	padding: 5px;
}

.left-nav a:hover{
	color:#a78a7f;
}

/*end of productlist.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*product-detail.html styling*/

.product-section{
	height:auto;
	display: inline-block;
	width:100%;
}

.product-section img{
	width:100%;
}

.product-section-text ul{
	list-style: none;
}

.product-section-name{
	font-family: "Lora-Regular",serif;
	font-size:2rem;
	font-weight: 700;
	color:#333;
}

.product-section-price{
	font-family:"Roboto-Regular",sans-serif;
	font-size:1.2rem;
	color:#333;
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
}

.product-section .button{
	margin-top: :1.5rem;
}


.photo-gallery {
  width: auto;
  margin: 0;
  overflow: hidden;
  transform: translate(-6px,0);
}
.photo-gallery img {
  display: block;
  outline: 1px solid white;
  max-width: 100%;
}

.photo-gallery-view:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 80%;
}

.photo-gallery-view {
  position: relative;
}
.photo-gallery-view img {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}
.photo-gallery-view img:target,
.photo-gallery-view img.active {
  z-index: 4;
  opacity: 1;
}

.photo-gallery-thumbnails a {
  display: block;
  float: left;
  width: 50%;
}
@media screen and (min-width: 321px) {
  .photo-gallery-thumbnails a {
    width: 25%;
  }
}
.photo-gallery-thumbnails img {
  width: 100%;
  display: block;
}

h2.detail-page-description{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-weight: 700;
	font-size:0.8rem;
	text-transform: uppercase;
	color:#333;
	margin-top: 1.5rem;
	border-top:solid 1px #333;
	padding-top: 1rem;
}

.product-section-text p{
	margin-bottom: 1.5rem;
}

ul.frame-lense{
	border-top:solid 1px #333;
	padding-top: 1rem;
}

.product-section h3{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-weight: 700;
	font-size:0.8rem;
	text-transform: uppercase;
	color:#333;
}

ul.frame-description li,
ul.lenses-description li{
	color:#333;
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-size:1rem;
}

.comment-section{
	margin-top: 3.5rem;
}

.frame{
	padding-top:1.5rem;
}

h2.ratings-reviews{
	font-size: 1.5rem;
	font-family: "PT_Sans-Web-Regular",sans-serif;
	color:#333;
	text-transform: uppercase;
	border-bottom: 1px solid #333;
	padding-bottom: 0.5rem;
}


.comment-section ul{
	list-style: none;
}

.comment-section ul li h4{
	font-family: "Roboto-Medium",sans-serif;
	font-size: 1.2rem;
	padding-top:1.5rem;
	padding-bottom: 0.5rem;
}

.fa-star, .fa-star-o{
	color:#333;
}

.comment-section .button{
	float:right;
	margin-top: 2.5rem;
}

iframe{
	width:100%;
	height: 600px;
	min-height: auto;
	margin-top: 1.5rem;
	border:none;
}

/*end of product-detail.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*comments-page.html styling*/

.customer-section{
	padding-left: 0;
	margin-left: 0;
	transform: translate(-1%,0);
}

.customer-section .customer-name h1{
	font-family: "Roboto-Medium",sans-serif;
	font-size: 1rem;
	color:#333;
}

.customer-comment ul{
	list-style: none;
}

.customer-comment ul li{
	padding-bottom: 1rem;
}

/*end of comments-page.html styling*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*write-review.html styling*/

.write-review ul{
	list-style: none;
}

.write-review-name{
	font-family: "Lora-Regular",serif;
	font-size: 1.5rem;
	color:#333;
	padding-bottom: 0.5rem;
}

.write-review-price{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-size: 1rem;
	color:#333;
	padding-bottom: 1rem;
}

.write-review p{
	padding-bottom: 1rem;
}

div.write-your-review label{
	width:100%;
	display: block;
	background:white;
	padding:10px 0 10px 0;
	}
	div.write-your-review label span{
	display: block;
	color:#333;
	font-size:12px;
	float:left;
	width:100px;
	text-align:left;
	padding:5px 20px 0 0;
	}
	
	div.write-your-review .input_text{
	padding:10px 10px;
	width:auto;
	}
	
	div.write-your-review .message{
	padding:7px 7px;
	width:350px;
	overflow:hidden;
	height:150px;
	}
	

	.review-form{
		margin-bottom: 2rem;
	}














