html, body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;    
    font-size:16px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	border:0;
}



/*----------------------nav-section styling----------------------*/

.nav-section{
	width: 250px;
	position: fixed;
	top: 80px;
	left: 0;
	padding: 15px;
}

.nav-section a{
	display:block;
	line-height: 3em;
	padding-left: 25px;
	font-size: 1em;
	color: #bdbec0;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
}

.nav-section a:hover{
	color: #9d3625;
}

h1.style-guide-title{
	font-family: "Montserrat", sans-serif; 
  	text-transform: uppercase;
  	color:#c9b9aa;
  	font-size: 30px;
}


/*--------------------content-section styling--------------------*/

.content-section{
	width: calc(100% - 350px);
	position: absolute;
	right: 0;
	padding: 40px;
	box-shadow: 1px 0 10px #cccccc;
}

.component{
	padding-top: 55px;
	margin-bottom: 3.5em;
}

.example{
	margin-bottom: 1.2em;
}

h2.heading {
	font-family: "Raleway", sans-serif; 
	font-size: 24px;
	font-weight:400;
	text-transform: uppercase;
	text-align: left;
	color: #9d3625;
	border-bottom: 1px solid #666666;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.sub-component h3{
	font-family: "Raleway", sans-serif; 
	font-weight: 700;
	font-size: 1em;
	text-transform: none;
	margin-top: 2em;
}

.sub-component h4{
	font-family: "Raleway", sans-serif; 
	font-weight: 600;
	font-size: 0.8em;
	text-transform: none;
	margin-bottom: 0.5em;
	color:#c9b9aa;
}

.sub-component p{
	font-family: "Raleway", sans-serif; 
	font-weight:600;
	margin-top:0;
	margin-bottom: 1.2em;
	font-size:0.8em;
}


.sample-code{
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #333333;
	background: #f8f8f8;
	-webkit-text-size-adjust: none;
}

.html-code{
	font-size: 0.9em;
}

pre{
	padding:0;
	margin:0;
}

.in-line{
	display: inline-block;
}

/*------------------------sample styling------------------------*/

/*in-text link */
a.in-text{
	color: #735751;
}

a.in-text:hover {
	color:#a78a7f;
}

/*nav*/
#main {
	list-style: none;
	font-weight: 400;
	display: inline-block;
	padding: 0;
	margin:0;
}

#main li {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	z-index: 5;
	min-width: 120px;
	
	}

#main li a{
	text-decoration: none;
	font-size: 0.875rem;
	color:#333;
	font-family:"Roboto-Regular", sans-serif;
}

#main .drop li {
	background: white;
}

#main .drop li a {
	font-size: 0.6rem;
}


.drop {
	overflow: hidden;
	list-style: none;
	position: absolute;
	padding: 0;
	width: 100%;
	left: 0;
	top: 46px;
}

.drop div {
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-transition: all 0.9s 0.1s;
	-moz-transition: all 0.9s 0.1s;
	-ms-transition: all 0.9s 0.1s;
	transition: all 0.9s 0.1s;
	position: relative;
}

.drop li {
	display: block;
	padding: 0;
	width: 100%;
}

#marker {
	height: 2px;
	background: #973241;
	position: absolute;
	width: 120px;
	z-index: 5;
	-webkit-transition: all 0.45s;
	-moz-transition: all 0.45s;
	-ms-transition: all 0.45s;
	transition: all 0.45s;
	visibility: hidden;
}

#main .parent a:hover, #main .child a:hover{
	font-family:"Roboto-Medium", sans-serif;
}

#main li:nth-child(1):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(1):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(0px, 0);
	-moz-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(2):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(120px, 0);
	-moz-transform: translate(120px, 0);
	-ms-transform: translate(120px, 0);
	transform: translate(120px, 0);
}

#main li:nth-child(3):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(3):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(250px, 0);
	-moz-transform: translate(250px, 0);
	-ms-transform: translate(250px, 0);
	transform: translate(250px, 0);
}

#main li:nth-child(4):hover ul div {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#main li:nth-child(4):hover ~ #marker {
	visibility:visible;
	-webkit-transform: translate(375px, 0);
	-moz-transform: translate(375px, 0);
	-ms-transform: translate(375px, 0);
	transform: translate(375px, 0);
}


/*nav button*/
.nav-button #main .parent:hover{
	font-family:"Roboto-Medium", sans-serif;
	border-bottom: 2px solid #973241;
}


/*submit & reset button*/
.button {
    border: 2px solid #973241;
    position:relative;
    font-family:"PT_Sans-Web-Regular",sans-serif;
    width:150px;
    height:40px;
    margin:0;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button a {
    position:relative;
    padding:0px;
    text-align:center;
    text-transform:uppercase;
    text-decoration: none;
    color:#333333;
    font-size:0.8rem;
    font-weight:600;
    line-height:40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:hover a {

    color:#ffffff;
    z-index: 1000;
}

.easing-up {
    position: absolute;
    width:100%;
    top:0; 
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:#973241;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.easing-down {
    position: absolute;
    width:100%;
    bottom:0; 
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color:#973241;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.button:hover {
	color:#ffffff;
}

.button:hover .easing-up, .button:hover .easing-down  {
    height:40px;
}

/*Text Input*/
.text-input {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	width:200px;
}

.text-input select {
	font-family:"Roboto-regular",sans-serif;
	width: 100%;
	font-size: 1rem;
	height: 29px;
	padding: 2px 2px 1px;
	font-size: 18px;
	background: none;
	border: none;
	line-height: 29px;
}

.text-input select ~ .bar {
	border-bottom: 1px solid #999;
}

.text-input select ~ .bar:after, .text-input select ~ .bar:before {
	bottom: -1px;
}

.text-input select ~ label {
	font-family:"PT_Sans-Web-Regular",sans-serif;
	font-size: 0.75rem;
	color: gray;
	top: -20px;
}

.text-input select:focus {
	outline: none;
}

.text-input select:focus ~ .bar:before, .text-input select:focus ~ .bar:after {
	width: 50%;
}

.text-input label {
	position: relative;
	top: 0;
	pointer-events: none;
	padding-left: 2px;
	z-index: 1;
	color: #b3b3b3;
	font-family:"Roboto-regular",sans-serif;
	font-size: 1rem;
	position: absolute;
	transition: all 0.2s ease;
}

.text-input .bar {
	position: relative;
	display: block;
	margin-right: -4px;
}

.text-input .bar:before, .text-input .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0;
	position: absolute;
	background: #a78a7f;
	transition: all 0.2s ease;
	z-index: 2;
}

.text-input .bar:before {
	left: 50%;
}

.text-input .bar:after {
	right: 50%;
}

.text-input input{
	display: block;
	background: none;
	padding: 2px 2px 1px;
	font-family:"Roboto-regular",sans-serif;
	font-size: 1rem;
	border-width: 0 0 1px;
	line-height: 29px;
	border-color: #999;
	width: 100%;
	color:#333;
}

.text-input input:focus{
	outline: none;
}

.text-input input:focus ~ label, .text-input input:valid ~ label, .text-input input.hasValue ~ label{
	font-family:"PT_Sans-Web-Regular",sans-serif;
	font-size: 0.75rem;
	color: gray;
	top: -20px;
}

.text-input input:focus ~ label{
	color: #a78a7f;
}

.text-input input:focus ~ .bar:before, .text-input input:focus ~ .bar:after{
	width: 50%;
}


/*headings*/
h1{
	font-family: "Lora-Regular", sans-serif;
	font-size:3rem;
	color:#666;
	margin:2px 0 1px;
}

h2{
	font-family: "Roboto-Medium", sans-serif;
	font-size:2rem;
	font-weight:400;
	color:#735751;
	margin:1px 0;
}

h3{
	font-family: "Roboto-Regular", sans-serif;
	font-size:1.75rem;
	font-weight:800;
	color:#333;
	margin:1px 0;
}

h4{
	font-family: "Roboto-Light", sans-serif;
	font-size:1.25rem;
	font-weight:400;
	color:#333;
	margin:1px 0;
	text-transform: uppercase;

}

/*paragraph*/
.example p{
	font-family: "Roboto-Light", sans-serif;
	font-size:1rem;
	font-weight:400;
	color:#333;
}

/*bulleted list*/
.example ul li{
	color:#c9b9aa;
}

.example ul li span{
	font-family: "Roboto-Light", sans-serif;
	font-size:18px;
	color:#666;
}

/*numbered list*/
.example ol li{
	color: #a78a7f;
}

.example ol li span{
	font-family: "Roboto-Light", sans-serif;
	font-size:18px;
	color:#333;
}

/*product list*/
.flexbox { 
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-item {
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #F1F2F2;
	border-bottom: 2px solid #F1F2F2;
	background: white;
	transition: .4s;
}

.product-item:hover {
	border-bottom: 2px solid #973241;
}

.product-item img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}

.product-list {
	padding: 15px 0;
}

.product-list h3 {
	font-family: "Roboto-regular", sans-serif;
	font-size:1.2rem;
	font-weight:800;
	color:#333;
	margin: 0 0 10px 0;
}

h4.price {
	font-family: "PT_Sans-Web-Regular", sans-serif;
	font-size:1rem;
	font-weight:400;
	color:#333;
	margin:1px 0;
	display: block;
	 margin-bottom: 12px;
}

/*grid structure*/
/*see grids.css*/


/*citation*/
.citation-style{
	margin-left: 30px;
	margin-right: 30px;
}

/*site map*/
.sitemap{
	width:100%;
	height:auto;
}

.sitemap-page{
	width:auto;
	height:auto;
}


/*----------------------website styling----------------------*/

/*paragraph*/
p{
	font-family: "Roboto-Light", sans-serif;
	font-size:1rem;
	font-weight:400;
	color:#333;
}

/*bulleted list*/
ul li{
	color:#c9b9aa;
	font-family: "Roboto-regular", sans-serif;
}

ul li span{
	font-family: "Roboto-Light", sans-serif;
	font-size:18px;
	color:#666;
}

/*numbered list*/
ol li{
	color: #a78a7f;
}

ol li span{
	font-family: "Roboto-Light", sans-serif;
	font-size:18px;
	color:#333;
}


/*helper classes*/
.content-wrapper{
  margin-left: 15%;
  margin-right: 15%;
  margin-top:100px;
}

.line-separator{
	height: 1px;
    background: #717171;
    border-bottom: 1px solid gainsboro;
}

.hcenter{
	margin-left: auto;
    margin-right: auto;
}
/*end of helper classes*/


/*nav bar styling*/
.nav-bar{
    top: 0;
	position: fixed;
	z-index: 5;
	height:3.5rem;
	width:100vw;
	padding:0 15%;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
	box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
}

.brand{
	float:left;
	width:auto;
	padding-top:15px;
	padding-right: 4.5rem;
	display:inline-block;
	font-family: "Lora-Regular", sans-serif;
	font-size:1.1rem;
	font-weight: 700;
	text-decoration: none;
	color:black;
}

nav{
	float:left;
}

.login-and-bag{
	list-style: none;
	display: inline-block;
	float:right;
	padding-top:15px;
}

.login-and-bag li{
	box-sizing: border-box;
	display:inline-block;
}

.login-and-bag li a{
	font-family: "PT_Sans-Web-Regular",sans-serif;
	font-size: 0.875rem;
	padding-left: 0.5rem;
	text-decoration: none;
	color:#666;
}

.login-and-bag li a:hover{
	font-weight:700;
}
/*end of nav bar styling*/


/*bag-overview.html styling*/

.bag-title{
	text-align: center;
}
/*end of bag-overview.html styling*/


/*homepage.html styling*/
.event-notice{
	box-sizing:border-box;
	background-color: #999;
	margin-left: auto;
	margin-right: auto;
	height:40px;
	text-align: center;
	padding-top: 10px;
	margin-top: -20px;

}

.event-notice a{
	text-decoration: none;
	color: #333;
	font-family: "Roboto-regular", sans-serif;
	font-size: 1rem;
	
}

 #title-picture, #event-picture{	
	background-color: #999;
	margin-top: 20px;
	margin-left: 0px;
	box-sizing:border-box;
	padding:1em;
	width: 100%;
	height:30em;
	
}

#title-picture{
	max-width: 35em;
	margin-right: 0;	
	
}

#event-picture{
	max-width: 20em;
	float:left;
	margin-left: 1em;
}

.display-picture{
	display: flex;
}

.homepage-product-list{
	margin-top: 1em;
}

.popular-item-separator{
	height:3px;
	margin-top:2em;
	margin-bottom: 2em;
	text-align: center;
}

.popular-item-content{
	font-size: 1.75rem;
	font-family: "Roboto-regular", sans-serif;
	color: #333;
	background-color: white;
	text-align: center;
	width: 30%;
	margin-left: 300px;
	margin-top: 50px;
}

.popular-item-content p{
	padding-top: -2em;
}

/*footer styling*/

footer{
	background: rgb(200,200,200);
  margin-top: 600px;
  width: 100%;
  margin-bottom:-5em;
  color: #333;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-list-top {
  width: 25%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}

.flex-rw ul{
	list-style: none;
}

.flex-rw a{
	text-decoration: none;
	color: #333;
	font-family: "Roboto-Light",sans-serif;
	font-size: 1rem;
}

.flex-rw a:hover{
	text-decoration: none;
	color: white;

}

.footer-list-header{
	padding:30px 0 10px 0;
}

/*end of homepage.html styling*/

/*about.html styling*/
.page-title{
	text-align: center;
	padding-top: 20px;
}

.about-intro p{
	margin-top: 30px;
}

.story{
	display: flex;
	margin-top: 50px;
}

.story h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

.pic{
	height: 500px;
	width:auto;
	background-color: rgb(200,200,200);
}

.column-left{
	width: 45%;
	margin-right: 10%;
}

.column-right{
	width: 45%;
	padding-right: 0px;
	
}

/*end of about.html styling*/




